<h4>directive_Simple Page content here</h4><br><br>
my-sample1 directive Attribute based Simple : <div my-sample1></div>
<hr />
my-sample2 directive Attribute based using $compile : <div my-sample2></div>
<br><br>
my-sample2 directive Attribute based using $compile : <div my-sample2></div>
<hr />
my-sample3 directive Attribute based using $compile and scope : <div my-sample3></div>
<br><br>
my-sample3 directive Attribute based using $compile and scope : <div my-sample3></div>
<hr />
my-sample4 directive Element based using template and scope : <my-sample4></my-sample4>
<hr />
my-sample5 directive Class based using template and scope : <div class="my-sample5"></div>
